@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
#bg {
  background-image: url('bgmain.png');
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(5px);
}

form {
  width: 500px;
  height: 250px;
  box-sizing: border-box;
  border-radius: 5mm;
  padding: 40px 30px;
  background-color: rgba(185, 171, 171, 0.263);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

form {
    width: 500px;
    height: 250px;
    box-sizing: border-box;
    border-radius: 5mm;
    padding: 40px 30px;
    background-color: rgba(185, 171, 171, 0.263);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 9999px;
  }